#titulo{
    font-size: 50px;
    text-align: center !important;
    flex-wrap: wrap !important;
    color: blue !important;
}
#topnav{
    background-color: blue;
    flex-wrap: wrap;;   
}
#head{
    margin-top: 70px;
}
#topnav2{
    margin-left: 16%;
    margin-right: 5%;

}
#cuadro{
    background-color:yellow !important;
    

}

#letra{
    color: black;
}

#back{
    height: 50px !important;
}

#fixture{
    height: 100%;
    width: 100%;
}