#titulo{
    font-size: 50px;
    text-align: center !important;
    flex-wrap: wrap !important;
    color: blue !important;
}
#topnav{
    background-color: blue;
    flex-wrap: wrap;   
}
#head{
    margin-top: 70px;
}
#topnav2{
    margin-left: 200px;
}
#cuadro{
    background-color:yellow !important;
    

}

#letra{
    color: black;
}


